<article class="listing">
  <img src="{{media.image}}" alt="">
  <h3>{{media.title}}</h3>
  <div class="detail owner">
    <span>Owner:</span> {{media.owner}}
  </div>
  <div class="detail type">
    <span>Type:</span> {{media.category}}
  </div>
  <div class="detail location">
    <span>Location:</span> {{media.city}}
  </div>
  <div class="detail bedrooms">
    <span>Number of bedrooms:</span> {{media.bedrooms}}
  </div>
</article>
